.category-name-center {
  text-align: center;
  margin-top: 50px;
}

.style-col-img-category-name {
  padding: 20px;
  border: 1px solid;
  border-color: white;
  box-shadow: 0 0 16px rgba(0,0,0,.16);
  margin: 20px;
  border-radius: 10px;
}

