.advert-price {
  text-align: -webkit-center;
}

.advert-name {
  text-align: -webkit-center;
}

.btn-advert-index-show {
  text-align: -webkit-center;
}

.main-navbar-first {
  background-color: #808080;
}

.navbar-first-main-meny {
  text-align: -webkit-right;
  background-color: darkgray;
}

.exit_user_maun_firs {
  margin-right: 10px;
  color: black;
}

.registration_user_maun_firs {
  color: black;
  font-size: 15px;
}

.exit_user_maun_firs:hover {
  color: black;
  font-size: 15px;
}

.registration_user_maun_firs:hover {
  color: black;
}

.cursor-main_menu_profil {
  cursor: pointer;
}

.pg_main_menu {
  padding: 0rem 1rem !important;
}

.m_m_add {
  font-weight: 100;
  font-size: 15px !important;
}

.main_m_second {
  margin-top: 33px;
}